<app-page-panel header="My Requests">

    <!-- Search Filters -->
    <nz-collapse class="mb-4">
        <nz-collapse-panel nzHeader="Search Filters" [nzActive]="false">
            <form nz-form nzLayout="inline" class="filter-form">
                <div nz-row [nzGutter]="[16, 8]" style="width:100%">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>Request ID</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="search.id" name="id" placeholder="Request ID" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>Request Type</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="search.requestType" name="requestType"
                                    nzPlaceHolder="All Types" nzAllowClear>
                                    <nz-option *ngFor="let t of requestTypes" [nzValue]="t"
                                        [nzLabel]="t"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>Status</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="search.status" name="status" nzPlaceHolder="All"
                                    nzAllowClear>
                                    <nz-option *ngFor="let s of statuses" [nzValue]="s"
                                        [nzLabel]="s"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>User ID</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="search.userId" name="userId"
                                    placeholder="User ID" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>Request Date</nz-form-label>
                            <nz-form-control>
                                <nz-date-picker [(ngModel)]="search.requestDate" name="requestDate"
                                    style="width:100%"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label>Approver</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="search.approver" name="approver"
                                    placeholder="Approver" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12" style="text-align:right;padding-top:4px">
                        <button nz-button nzType="primary" (click)="onSearch()">
                            <span nz-icon nzType="search"></span> Search
                        </button>
                        <button nz-button class="ml-2" (click)="resetSearch()">Reset</button>
                    </div>
                </div>
            </form>
        </nz-collapse-panel>
    </nz-collapse>

    <app-advanced-table
        title=""
        [data]="data"
        [columns]="columns"
        [actions]="actions"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [serverSide]="true"
        [showPagination]="true"
        size="middle"
        scrollY="55vh"
        (queryParamsChange)="loadData($event)">
    </app-advanced-table>

</app-page-panel>
