<nz-card [nzTitle]="header" nzSize="small" [nzExtra]="ruleActions">
  <ng-template #ruleActions>
    <nz-button-group>
      <button nz-button nzSize="small" nz-tooltip nzTooltipTitle="Remove Selected" [disabled]="selectedItems.length === 0" (click)="remove()">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
      <button nz-button nzSize="small" nz-tooltip nzTooltipTitle="Remove All" (click)="removeAll()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>
      </button>
      <button nz-button nzSize="small" nzType="primary" nz-tooltip nzTooltipTitle="Select Rules" (click)="openRuleSelectDialog()">
        <span nz-icon nzType="plus" nzTheme="outline"></span> Select
      </button>
    </nz-button-group>
  </ng-template>

  <nz-input-group nzSize="small" [nzSuffix]="ruleSearchIcon" style="margin-bottom: 8px; max-width: 280px;">
    <input nz-input placeholder="Search rules..." [(ngModel)]="searchText" (ngModelChange)="applyFilter()" />
  </nz-input-group>
  <ng-template #ruleSearchIcon>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <nz-table #ruleTable [nzData]="displayItems" nzSize="small"
            [nzFrontPagination]="true"
            [nzPageIndex]="currentPage"
            [nzPageSize]="pageSize"
            nzTableLayout="fixed"
            [nzScroll]="{ y: '50vh' }">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="allChecked" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>Rule ID</th>
        <th>Description</th>
        <th>Business Process</th>
        <th>Sub Process</th>
        <th>Rule Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of ruleTable.data">
        <td [nzChecked]="isChecked(row)" (nzCheckedChange)="onItemChecked(row, $event)"></td>
        <td style="color: #1890ff; cursor: pointer;" (click)="openDetail(row)">{{ row.ruleName }}</td>
        <td>{{ row.ruleDescription }}</td>
        <td>{{ row.businessProcess?.name }}</td>
        <td>{{ row.businessProcess?.subProcessNames }}</td>
        <td>{{ row.ruleType?.name }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
