<ng-container *ngIf="form$ | async; else loadingTpl">
  <form [formGroup]="form">
    <nz-form-item>
      <nz-form-control nzErrorTip="LDAP Title is required">
        <div class="nz-float-label" [class.has-value]="form.get('ldapTitle')?.value">
          <input nz-input placeholder=" " formControlName="ldapTitle" />
          <label>LDAP Title</label>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Select Roles</nz-form-label>
      <nz-form-control>
        <nz-select
          formControlName="roles"
          nzMode="multiple"
          nzPlaceHolder="Select Roles"
          nzShowSearch
          [nzMaxTagCount]="5"
          style="width: 100%;">
          <nz-option
            *ngFor="let role of roles"
            [nzValue]="role.id"
            [nzLabel]="role.roleName">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
<ng-template #loadingTpl>
  <div style="text-align: center; padding: 24px;">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>

<div class="modal-footer">
  <button nz-button nzType="default" (click)="modal.close()">Close</button>
  <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()">Save</button>
</div>
