<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-form-item>
        <nz-form-label nzRequired>SAP System</nz-form-label>
        <nz-form-control nzErrorTip="Please select a SAP System">
            <nz-select formControlName="sapSystems" nzPlaceHolder="Select SAP System" nzShowSearch>
                <nz-option *ngFor="let type of sapSysList" [nzValue]="type?.id"
                    [nzLabel]="type?.description"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</form>

<div class="flex justify-end gap-3 mt-4 pt-4 border-t border-gray-200">
    <button nz-button nzType="default" (click)="modal.close()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="save()">Start Job</button>
</div>