<form [formGroup]="form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'BTP System is required'">
      <div class="nz-float-label" [class.has-value]="form.get('btpSystem')?.value">
        <nz-select formControlName="btpSystem" nzPlaceHolder=" " nzShowSearch>
          <nz-option *ngFor="let sys of btpSystems" [nzValue]="sys.id" [nzLabel]="sys.destinationName"></nz-option>
        </nz-select>
        <label>BTP System</label>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="modal-footer">
  <button nz-button nzType="default" (click)="modal.close()">Close</button>
  <button nz-button nzType="primary" (click)="save()">Save</button>
</div>
