<div class="rcl">
  <nz-card nzSize="small" nzTitle="Role Concepts">
    <app-advanced-table
      [data]="data"
      [columns]="columns"
      [actions]="tableActions"
      [loading]="loading"
      [showSelection]="true"
      [showSearch]="true"
      [showRefresh]="true"
      size="small"
      rowKey="id"
      (selectionChange)="onSelectionChange($event)"
      (rowClick)="onRowClick($event)"
      (refresh)="loadData()">
      <ng-template #rowActions let-row>
        <button nz-button nzType="link" nzSize="small" (click)="onClone(row); $event.stopPropagation()"
                nz-tooltip nzTooltipTitle="Clone">
          <span nz-icon nzType="copy" nzTheme="outline"></span>
        </button>
        <button nz-button nzType="link" nzSize="small" (click)="onAssignSystems(row); $event.stopPropagation()"
                nz-tooltip nzTooltipTitle="Assign Systems">
          <span nz-icon nzType="apartment" nzTheme="outline"></span>
        </button>
        <button nz-button nzType="link" nzSize="small" nzDanger (click)="onDelete(row); $event.stopPropagation()"
                nz-tooltip nzTooltipTitle="Delete">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </ng-template>
    </app-advanced-table>
  </nz-card>

  <!-- Clone Dialog -->
  <nz-modal [(nzVisible)]="cloneVisible" nzTitle="Clone Concept"
            (nzOnOk)="confirmClone()" (nzOnCancel)="cancelClone()" nzWidth="400">
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-label nzRequired>New Name</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="small" [(ngModel)]="cloneName" placeholder="Enter name">
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </nz-modal>

  <!-- Delete Dialog -->
  <nz-modal [(nzVisible)]="deleteVisible" nzTitle="Delete Concepts"
            (nzOnOk)="confirmDelete()" (nzOnCancel)="cancelDelete()"
            nzOkDanger nzOkText="Delete" nzWidth="400">
    <ng-container *nzModalContent>
      <p>Delete {{ deleteIds.length }} concept(s)? This action cannot be undone.</p>
    </ng-container>
  </nz-modal>

  <!-- Assign Systems Dialog -->
  <nz-modal [(nzVisible)]="assignVisible" nzTitle="Assign to SAP Systems"
            (nzOnOk)="confirmAssign()" (nzOnCancel)="cancelAssign()"
            [nzOkLoading]="savingAssignment" nzWidth="400">
    <ng-container *nzModalContent>
      <div class="rcl__assign-list">
        <label nz-checkbox *ngFor="let sys of allSystems"
               [nzChecked]="assignedSystemIds.includes(sys.id)"
               (nzCheckedChange)="$event ? assignedSystemIds.push(sys.id) : assignedSystemIds.splice(assignedSystemIds.indexOf(sys.id), 1)">
          {{ sys.destinationName }}
        </label>
      </div>
    </ng-container>
  </nz-modal>
</div>
