<div class="modal-header">
    <h3 nz-typography>{{ title }}</h3>
</div>

<form nz-form [formGroup]="form" nzLayout="vertical">
    <nz-form-item>
        <nz-form-label nzRequired>Comments</nz-form-label>
        <nz-form-control nzErrorTip="Comments are required">
            <textarea nz-input rows="4" formControlName="comments" placeholder="Enter comments here..."></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="dialogData.page != 'reviewPage'">
        <nz-form-label nzRequired>Valid From</nz-form-label>
        <nz-form-control>
            <nz-date-picker nzShowTime formControlName="validFrom" nzFormat="yyyy-MM-dd HH:mm"
                nzPlaceHolder="Valid From" class="w-full"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="dialogData.page != 'reviewPage'">
        <nz-form-label nzRequired>Valid To</nz-form-label>
        <nz-form-control>
            <nz-date-picker nzShowTime formControlName="validTo" nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="Valid To"
                class="w-full"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
</form>

<div class="modal-footer flex flex-row justify-end gap-3 mt-4 pt-4 border-t">
    <button nz-button nzType="default" (click)="modal.close()">Close</button>
    <button nz-button nzType="primary" (click)="performAction()">Continue</button>
</div>