<app-page-panel header="FUE User Types & Conversion Ratios">
    <app-advanced-table [showColumnSettings]="true" storageKey="central-users-system-license-management-fue-jobs-fue-types" title="FUE Types" [columns]="columns" [data]="data" [actions]="tableActions"
        [loading]="loading" [showPagination]="false" [showSearch]="false" [showSelection]="true"
        [maxVisibleActions]="3" (rowClick)="onRowClick($event)"
        (selectionChange)="onSelectionChange($event)">
    </app-advanced-table>
</app-page-panel>

<!-- Inline edit templates -->
<ng-template #codeTpl let-row="row">
    <input *ngIf="editMode" nz-input nzSize="small" [(ngModel)]="row.code" />
    <span *ngIf="!editMode">{{ row.code }}</span>
</ng-template>

<ng-template #nameTpl let-row="row">
    <input *ngIf="editMode" nz-input nzSize="small" [(ngModel)]="row.name" />
    <span *ngIf="!editMode">{{ row.name }}</span>
</ng-template>

<ng-template #weightTpl let-row="row">
    <nz-input-number *ngIf="editMode" [(ngModel)]="row.fueWeight" [nzStep]="0.001" [nzMin]="0"
        nzSize="small" style="width:100%"></nz-input-number>
    <span *ngIf="!editMode">{{ row.fueWeight }}</span>
</ng-template>

<ng-template #usersPerFueTpl let-row="row">
    <nz-input-number *ngIf="editMode" [(ngModel)]="row.usersPerFue" [nzStep]="0.1" [nzMin]="0"
        nzSize="small" style="width:100%"></nz-input-number>
    <span *ngIf="!editMode">{{ row.usersPerFue }}</span>
</ng-template>

<ng-template #tierTpl let-row="row">
    <nz-input-number *ngIf="editMode" [(ngModel)]="row.tierPriority" [nzStep]="1" [nzMin]="0"
        nzSize="small" style="width:100%"></nz-input-number>
    <span *ngIf="!editMode">{{ row.tierPriority }}</span>
</ng-template>

<ng-template #orderTpl let-row="row">
    <nz-input-number *ngIf="editMode" [(ngModel)]="row.displayOrder" [nzStep]="1" [nzMin]="0"
        nzSize="small" style="width:100%"></nz-input-number>
    <span *ngIf="!editMode">{{ row.displayOrder }}</span>
</ng-template>

<ng-template #statusTpl let-row="row">
    <nz-tag [nzColor]="row.active ? 'green' : 'default'">{{ row.status }}</nz-tag>
</ng-template>
