<form [formGroup]="form">
  <div class="password-reset-form">
    <nz-form-item>
      <nz-form-control>
        <div class="nz-float-label has-value">
          <input nz-input placeholder=" " formControlName="username" readonly />
          <label>User Name</label>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Password is required (5-20 chars)">
        <div class="nz-float-label" [class.has-value]="form.get('newPassword').value">
          <input nz-input type="password" placeholder=" " formControlName="newPassword" />
          <label>Password</label>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Passwords must match">
        <div class="nz-float-label" [class.has-value]="form.get('confirmPassword').value">
          <input nz-input type="password" placeholder=" " formControlName="confirmPassword" />
          <label>Confirm Password</label>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<div class="modal-footer">
  <button nz-button nzType="default" (click)="modal.close()">Close</button>
  <button nz-button nzType="primary" (click)="updatePassword()">Save</button>
</div>
